<!DOCTYPE html>
<html>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://www.w3schools.com/lib/w3-theme-blue-grey.css"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open+Sans"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Roboto", sans-serif;
    }
  </style>
  <body class="w3-light-grey">
        <!-- Navbar -->
        <div class="w3-top">
          <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a
              class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
              href="javascript:void(0);"
              onclick="openNav()"
              ><i class="fa fa-bars"></i
            ></a>
            <a href="/home" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"
              ><i class="fa fa-home w3-margin-right"></i>Home</a
            >
            <a 
            class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
            href="/logout"
            >
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
            <a
              href="/profile"
              class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
              title="My Account"
            >
              <img
                src="/img/person.png"
                class="w3-circle"
                style="height: 23px; width: 23px;"
                alt="Avatar"
              />
            </a>
          </div>
        </div>
    
        <!-- Navbar on small screens -->
        <div
          id="navDemo"
          class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large"
        >
          <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
          <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
          <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
          <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
        </div>
    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width: 1400px;margin: 40px;">
      <!-- The Grid -->
      <div class="w3-row-padding" style="padding-top: 60px;">
        <!-- Left Column -->
        <div class="w3-third">
          <div
            class="w3-white w3-text-grey w3-card-4"
            style="border-radius: 25px;"
          >
            <div class="w3-display-container">
              <% if (user.img !== null) { %>
              <img
                src="/img/<%= user.img %>"
                style="width: 100%;"
                alt="Avatar"
              />
              <% }else { %>
              <img src="/img/person.png" style="width: 100%;" alt="Avatar" />
              <% } %>
              <div class="w3-display-bottomleft w3-container w3-text-black">
                <h2><%= user.name %></h2>
              </div>
            </div>
            <div class="w3-container">
              <p>
                <i
                  class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"
                ></i
                ><%= user.job %>
              </p>
              <p>
                <i
                  class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"
                ></i
                ><%= user.address %>
              </p>
              <p>
                <i
                  class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"
                ></i
                ><%= user.email %>
              </p>
              <p>
                <i
                  class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"
                ></i
                ><%= user.phone %>
              </p>
              <button 
                onclick="document.getElementById('id01').style.display='block'" 
                class="w3-button w3-gray w3-large"
                style="border-radius: 25px;"
              >Edit Profile</button>
              <hr />

              <p class="w3-large">
                <b
                  ><i
                    class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"
                  ></i
                  >Skills</b
                >
              </p>
              <p>HTML/CSS</p>
              <div class="w3-light-grey w3-round-xlarge w3-small">
                <div
                  class="w3-container w3-center w3-round-xlarge w3-teal"
                  style="width: 90%;"
                >
                  90%
                </div>
              </div>
              <p>JAVA SCRIPT</p>
              <div class="w3-light-grey w3-round-xlarge w3-small">
                <div
                  class="w3-container w3-center w3-round-xlarge w3-teal"
                  style="width: 90%;"
                >
                  <div class="w3-center w3-text-white">90%</div>
                </div>
              </div>
              <p>SQL SERVR</p>
              <div class="w3-light-grey w3-round-xlarge w3-small">
                <div
                  class="w3-container w3-center w3-round-xlarge w3-teal"
                  style="width: 80%;"
                >
                  80%
                </div>
              </div>
              <p>Design</p>
              <div class="w3-light-grey w3-round-xlarge w3-small">
                <div
                  class="w3-container w3-center w3-round-xlarge w3-teal"
                  style="width: 50%;"
                >
                  50%
                </div>
              </div>
              <br />

              <p class="w3-large w3-text-theme">
                <b
                  ><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i
                  >Languages</b
                >
              </p>
              <p>Persian</p>
              <div class="w3-light-grey w3-round-xlarge">
                <div
                  class="w3-round-xlarge w3-teal"
                  style="height: 24px; width: 100%;"
                ></div>
              </div>
              <p>English</p>
              <div class="w3-light-grey w3-round-xlarge">
                <div
                  class="w3-round-xlarge w3-teal"
                  style="height: 24px; width: 55%;"
                ></div>
              </div>
              <br />
            </div>
          </div>
          <br />

          <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">
          <h2
            style="
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                sans-serif;
              margin: 15px;
              text-align: center;
            "
          >
            Your Posts
          </h2>

          <% userPosts.forEach((post, index) => { %>
          <div
            style="border-radius: 25px;"
            class="w3-container w3-card w3-white w3-round w3-margin post-card"
          >
            <br />
            <% if (post.userImg == null){ %>
            <img
              src="/img/person.png"
              alt="Avatar"
              class="w3-left w3-circle w3-margin-right"
              style="width: 60px;"
            />
            <% }else { %>
            <img
              src="/img/<%= post.userImg %>"
              alt="Avatar"
              class="w3-left w3-circle w3-margin-right"
              style="width: 60px;"
            />
            <% } %>
            <!-- <span class="w3-right w3-opacity">1 min</span> -->
            <h4><%= post.name %></h4>
            <br />
            <hr class="w3-clear" />

            <form
              id="edit-form<%= post.post_id%>"
              action="/profile/edit-post"
              method="post"
              enctype="multipart/form-data"
            >
              <h6 style="margin-left: 15px;">Post ID:
                <input 
                  type="text" 
                  id="postID" 
                  name="postID" 
                  form="edit-form<%= post.post_id%>"
                  value="<%= post.post_id%>" 
                  style="width: 25px; text-align: center;"
                  readonly>
                </input>
              </h6>
              <textarea rows="10" cols="50" style="width: 95%;margin: 15px; padding: 10px;min-height: 15px;max-height: 400px;" form="edit-form<%= post.post_id%>" name="editBody" id="editBody" placeholder=" Type Your Post Here ..." style="width: 100%;"><%= post.body %></textarea>
              <div class="w3-row-padding" style="margin: 0 -16px;">
                <div>
                  <% if (post.img !== null) { %>
                  <img
                    src="/img/<%= post.img %>"
                    style="width: 100%;"
                    alt="Image"
                    class="w3-margin-bottom"
                  />
                  <% } %>
                </div>
              </div>
              <input 
                type="file" 
                name="image" 
                id="postImg" 
                form="edit-form<%= post.post_id%>" 
                class="w3-button w3-theme" 
                style="border-radius: 25px;margin: 15px; background-color: gray; width: 50%;">
              <input 
                type="submit" 
                value="Edit" 
                style="border-radius: 25px; height: 45px; background-color: gray;" 
                type="button" 
                class="w3-button w3-theme">
              </input>
            </form>
            <form
            id="delete-form<%= post.post_id%>"
            action="/profile/delete-post"
            method="post"
          >
            <input 
              type="text" 
              id="postID2" 
              name="postID2" 
              form="delete-form<%= post.post_id%>"
              value="<%= post.post_id%>" 
              style="width: 25px; text-align: center;display: none;"
              readonly>
            </input>
            <input 
              type="submit" 
              value="Delete"
              style="border-radius: 25px; height: 45px; background-color: gray; margin-left: 20px;margin-bottom: 20px;" 
              type="button" 
              class="w3-button w3-theme">
           </input>
          </form>
          </div>
          <% }) %>

          <!-- End Right Column -->
        </div>

        <!-- End Grid -->
      </div>

      <!-- End Page Container -->
    </div>

    <footer class="w3-container w3-teal w3-center w3-margin-top">
      <p>Find me on social media.</p>
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </footer>
  </body>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px; border-radius: 25px;">

      <div class="w3-center"><br>
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
        <% if(user.img == null) { %>
          <img src="/img/person.png" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
        <% }else { %>
          <img src="/img/<%= user.img %>" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
        <% } %>

      </div>

      <form id="edit-prof" class="w3-container" action="/profile/edit-profile" method="post" enctype="multipart/form-data">
        <input 
          type="file" 
          name="image" 
          id="pImg" 
          form="edit-prof" 
          class="w3-button w3-theme" 
          style="border-radius: 25px; max-width: 230px;"
        >
        <div class="w3-section">
          <label><b>Name</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Name" value="<%= user.name %>" name="pName" ></input>
          <label><b>Job</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Job" name="pJob" value="<%= user.job %>">
          <label><b>Address</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Address" name="pAddress" value="<%= user.address %>">
          <label><b>Phone</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Phone" name="pPhone" value="<%= user.phone %>">

          <button class="w3-button w3-block w3-green w3-section w3-padding" style="border-radius: 25px;" type="submit">Submit</button>
        </div>
      </form>

      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
      </div>

    </div>
  </div>
</div>

</html>
